<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="formstyles.css">
      </head>
    <style>
      .navbar{
        background-color: black;
        color: azure;
        height: 30%;
    }
    .a{
        margin-left: 30px;
    }
    section{
      background-color:rgb(193, 202, 245);
      width: 70%;
      height: 300%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form-box{
      margin-top: 100px;
      margin-left: 20px;
      border-radius: 20px;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    }
    .box{
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

    }
    .box1,.box2,.box3,.box4{
      margin-bottom: 100px;
      height: 30%;
      width: 60%;
      padding: 50px;
      background-color: rgb(158, 200, 224);
      box-shadow: 0px 4px 8px rgba(0,0,0,0.26);
    }
    input{
color: transparent;
}
    </style>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" style="color: aliceblue;" href="#">Vehicle Express</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item a">
                    <a class="nav-link active" aria-current="page" href="#" style="color: aliceblue;">Call Helpline</a>
                  </li>
                  <li class="nav-item a">
                    <a class="nav-link" href="#" style="color: aliceblue;">Features</a>
                  </li>
                  <li class="nav-item a">
                    <a class="nav-link" href="#" style="color: aliceblue;">Vehicle Insurance</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <section>
            <div class="form-box needs-validation" novalidate>
              <form action="{{ url_for('predict')}}" method="post" >
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <div class="mb-4">
                  <label for="Month" class="form-label">Month</label>
                     <select id="Month" class="form-select" name="month">
                         <option value="0">Jan</option>
                         <option value="1">Feb</option>
                         <option value="2">Mar</option>
                         <option value="3">Apr</option>
                         <option value="4">May</option>
                         <option value="5">Jun</option>
                         <option value="6">Jul</option>
                         <option value="7">Aug</option>
                         <option value="8">Sep</option>
                         <option value="9">Oct</option>
                         <option value="10">Nov</option>
                         <option value="11">Dec</option>
                     </select>
                </div>
                <div class="mb-4">
                  <label for="DayOfWeek" class="form-label">Day Of Week </label>
                     <select id="DayOfWeek" class="form-select" name="DayOfWeek">
                         <option value="1">Monday</option>
                         <option value="2">Tuesday</option>
                         <option value="3">Wednesday</option>
                         <option value="4">Thursday</option>
                         <option value="5">Friday</option>
                         <option value="6">Saturday</option>
                         <option value="7">Sunday</option>
                     </select>
                </div>
                <div class="mb-4">
                  <label for="MonthClaimed" class="form-label">Month Claimed</label>
                     <select id="MonthClaimed" class="form-select" name="monthClaimed">
                         <option>Jan</option>
                         <option>Feb</option>
                         <option>Mar</option>
                         <option>Apr</option>
                         <option>May</option>
                         <option>Jun</option>
                         <option>Jul</option>
                         <option>Aug</option>
                         <option>Sep</option>
                         <option>Oct</option>
                         <option>Nov</option>
                         <option>Dec</option>
                     </select>
                </div>
                <div class="mb-4">
                  <label for="DayOfWeekClaimed" class="form-label">Day Of Week Claimed</label>
                     <select id="DayOfWeekClaimed" class="form-select" name="DayOfWeekClaimed">
                         <option>Monday</option>
                         <option>Tuesday</option>
                         <option>Wednesday</option>
                         <option>Thursday</option>
                         <option>Friday</option>
                         <option>Saturday</option>
                         <option>Sunday</option>
                     </select>
                </div>
                <div class="mb-4">
                  <label for="Sex">Gender : </label>
                  <input type="radio" name="gender" value="male" > Male
                  <input type="radio" name="gender" value="female"> Female
                </div>
          
                  <div class="mb-4">
                    <label for="Make" class="form-label">Car Manufacturer Model</label>
                       <select id="Make" class="form-select" name="CarModel">
                           <option>Lexus</option>
                           <option>Ferrari</option>
                           <option>Mecedes</option>
                           <option>Porche</option>
                           <option>Jaguar</option>
                           <option>BMW</option>
                           <option>Nisson</option>
                           <option>Saturn</option>
                           <option>Mercury</option>
                           <option>Dodge</option>
                           <option>Saab</option>
                           <option>VW</option>
                           <option>Ford</option>
                           <option>Accura</option>
                           <option>Chevrolet</option>
                           <option>Mazda</option>
                           <option>Honda</option>
                           <option>Toyota</option>
                           <option>Pontiac</option>
                           <option>others</option>
                       </select>
                  </div>
                
                <div class="mb-3">
                  <label for="MaritalStatus">Marital Status : </label>
                  <input type="radio" name="Married" value="3"> Married
                  <input type="radio" name="Single" value="2" >Single
                  <input type="radio" name="Widow" value="0"> Widow
                  <input type="radio" name="Divorced" value="1" >Divorced
                </div>
                <div class="mb-3">
                  <label for="Age" class="form-label">Age</label>
                  <input type="number" class="form-control" id="age" required>
                </div>
                <div class="mb-3">
                  <label for="PolicyNum" class="form-label">Policy No.</label>
                  <input type="text" class="form-control" id="Pno." required>
                </div>
                <div class="mb-3">
                  <label for="AccidentArea">Accident area : </label>
                  <input type="radio" name="accident" value="rural"> Rural
                  <input type="radio" name="accident" value="urban" >Urban
                </div>
                <div class="mb-3">
                  <label for="Fault">Fault: </label>
                  <input type="radio" name="ThirdParty" value="Third Party"> Third Party
                  <input type="radio" name="PolicyHolder" value="PolicyHolder" >Policy Holder
                </div>
                <div class="mb-3">
                  <label for="deductible">Amount Deductible: </label>
                  <input type="number">
                </div>
                <div class="mb-3">
                  <label for="AgentType">AgentType: </label>
                  <input type="radio" name="External" value="External">External
                  <input type="radio" name="Internal" value="Internal">Internal
                </div>
                <div class="mb-4">
                  <label for="PolicyType" class="form-label">Policy Type</label>
                     <select id="PolicyType" class="form-select" name="PolicyType">
                         <option>Sport - Liability</option>
                         <option>Sport - All Perils</option>
                         <option>Sport - Collision</option>
                         <option>Utility - Liability</option>
                         <option>Utility - All Perils</option>
                         <option>Utility - Collision</option>
                         <option>Sedan - Liability</option>
                         <option>Sedan - All Perils</option>
                         <option>Sedan - Collision</option>
                     </select>
                </div>

                <div class="mb-3">
                  <label for="AgeOfVehicle" class="form-label">Age Of Vehicle</label>
                  <select id="AgeOfVehicle" class="form-select" name="AgeOfVehicle">
                    <option>new</option>
                    <option>2 years</option>
                    <option>3 years</option>
                    <option>4 years</option>
                    <option>5 years</option>
                    <option>6 years</option>
                    <option>7 years</option>
                    <option>more than 7</option>
                    </select>
                </div>
                <div class="mb-3">
                  <label for="VehiclePrice" class="form-label">Vehicle Price</label>
                  <select id="VehiclePrice" class="form-select">
                    <option>less than 20000</option>
                    <option>20000 to 29000</option>
                    <option>30000 to 39000</option>
                    <option>40000 to 59000</option>
                    <option>60000 to 69000</option>
                    <option>more than 69000</option>
                </select>
                </div>
                <div class="mb-3">
                  <label for="VehicleCategory" class="form-label">Vehicle Category</label>
                  <select id="VehicleCategory" class="form-select">
                    <option>Utility</option>
                    <option>Sport</option>
                    <option>Sedan</option>
                </select>
                </div>
                <div class="mb-3">
                  <label for="Days_Policy_Claim" class="form-label">Days Policy Claim</label>
                  <select id="Days_Policy_Claim" class="form-select">
                    <option>8 to 15</option>
                    <option>15 to 30</option>
                    <option>more than 30</option>
                    </select>
                </div>
                <div class="mb-3">
                  <label for="Days_Policy_Accident" class="form-label">Days Policy Accident</label>
                  <select id="Days_Policy_Accident" class="form-select">
                    <option>none</option>
                    <option>1 to 7</option>
                    <option>8 to 15</option>
                    <option>15 to 30</option>
                    <option>more than 30</option>
                </select>
                </div>
                <div class="mb-3">
                  <label for="PastNumberOfClaims" class="form-label">Past Number of claims</label>
                  <select id="PastNumberOfClaims" class="form-select">
                    <option>none</option>
                    <option>1 </option>
                    <option>2 to 4</option>
                    <option>more than 4</option>
                    </select>
                </div>
                <div class="mb-3">
                  <label for="NumberOfSuppliments" class="form-label">Number Of Suppliments</label>
                  <select id="NumberOfSuppliments" class="form-select">
                    <option>none</option>
                    <option>1 to 2</option>
                    <option>3 to 5</option>
                    <option>more than 5</option>
                </select>
                <div class="mb-3">
                  <label for="AddressChange_Claim" class="form-label">Address Change Claim</label>
                  <select id="AddressChange_Claim" class="form-select">
                    <option>no change</option>
                    <option>under 6 months</option>
                    <option>1 year</option>
                    <option>2 to 3 years</option>
                    <option>4 to 8 years</option>
                </select>
                </div>

                <div class="mb-3">
                  <label for="NumberOfCars" class="form-label">Number Of Cars</label>
                  <select id="NumberOfCars" class="form-select">
                    <option>1 vehicle</option>
                    <option>2 vehicles</option>
                    <option>3 to 4</option>
                    <option>5 to 8</option>
                    <option>more than 8</option>
                </select>
                </div>
                <div class="mb-3">
                  <label for="BasePolicy" class="form-label">Base Policy</label>
                  <select id="BasePolicy" class="form-select">
                    <option>All Perils</option>
                    <option>Liability</option>
                    <option>Collision</option>
                </select>
                </div>
                <div class="mb-3">
                  <label for="Year" class="form-label">Year</label>
                  <input type="number">
                </div>
                <div class="mb-3">
                  <label for="RepNo" class="form-label">Rep No</label>
                  <input type="number" class="form-control" id="RepNo" required>
                </div>
                <div class="mb-3">
                  <label for="PoliceReportFiled">Police Report Filed : </label>
                  <input type="radio" > Yes
                  <input type="radio">No
                </div>
                <div class="mb-3">
                  <label for="WitnessPresent">Witness Present : </label>
                  <input type="radio" > Yes
                  <input type="radio">No
                </div>
              
                <button type="submit" class="btn btn-primary"><a style="text-decoration: none; color: aliceblue;" href="predict.html">Submit</a></button>
            </form>
              <!-- <form action="/predict" method="post">
                
              </form>     -->
            </div>
          </section>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> 
    </body>
</html>