<!DOCTYPE html>
<html>
<head>
	<title>Vehicle Insurance</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<span style="font-size: 2rem;">🚗 Vehicle Insurance </span>
        <ul style="display: flex;">
            <a style=" margin-left: 150px;">🏡Home</a>
            <a style=" margin-left: 150px;">📞Contact</a>
            <a style=" margin-left: 150px;">💁‍♀️Support</a>
        </ul>
		
	</header>
	<main>
        <div class="box">
            <div class="box1">
                <h1 style="color: white;">Claim Your Insurance Now</h1>
                <button id="btn"><a style="text-decoration: none;" href="index.html">Claim</a></button>
            </div>
            <div class="box2">
            
            </div>
        </div>
		<div class="card">
			<h2>Personalized Services</h2>
            <br>
			<p>Personalized Services, offers and information to customers</p><br>
            <h1 style="font-size: 3rem;">🏡</h1>
		</div>
		<div class="card">
			<h2>Contact</h2>
            <br>
			<p>Email us at: tynehasharma@gmail.com</p>
            <br>
            <p>Call: +91-9293894784</p><br>
            <h1> 📞</h1>
		</div>
		<div class="card">
			<h2>BE SAFE</h2>
            <br><h1>😊</h1><br>
            <h2>BE HAPPY</h2>
		</div>
	</main>
	<script src="script.js"></script>
</body>
</html>